body{
    display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 1fr 3fr 1fr;
}
#header{
    background-color: rgb(65, 64, 64);
    color: whitesmoke;
    grid-column: 1 / 3 ;
    display: grid;
    grid-template-rows: 2fr 0.8fr;
}

#nav{
    background-color: black;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a{
    color: whitesmoke;
    text-decoration:none;
    padding: 0 5px 0 5px;
}
a:hover{
    background-color: whitesmoke;
    color: black;

}
#main{
    background-color: rgb(160, 160, 160);
}
#footer{
    background-color: rgb(65, 64, 64);
    color: whitesmoke;
    grid-column: 1 / 3;
    text-align: center;
}
p{
    padding: 5px;
}