header {
    background-color: #0E6BA8;
    color: #dad9d9
}
.navigation{
    background-color: #232020;
    display: flex;
    justify-content: space-around;
    height: 30px;
}
a {
    color: white;
    text-decoration: none;
}